@import "tailwindcss";
@import "./fonts.css";
@import "./tokens.css";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-canvas);
    color: var(--color-text-inverse);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    letter-spacing: -5%;
  }
}

@media (min-width: 48rem) {
  .hero-banner-notch {
    mask-image: url("/images/home/hero-banner-mask.svg");
    -webkit-mask-image: url("/images/home/hero-banner-mask.svg");

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
  }
}
